.ab{
    margin-left: 12px;
    font-size: 15px;

}
.img{
    margin-left: 130px;
}
.ba{
    margin-left: 6px;
    font-size: 14px;
   
}
.abc{
    margin-left: 200px;
    font-size: 14px;
}
.nev{
    background-color: bisque;
}
